/* CSS Document */
.card_up{
	background-color:#539783;
	background-image: -o-linear-gradient(bottom, #006B4C 0%, #539783 78%);
	background-image: -moz-linear-gradient(bottom, #006B4C 0%, #539783 78%);
	background-image: -webkit-linear-gradient(bottom, #006B4C 0%, #539783 78%);
	background-image: -ms-linear-gradient(bottom, #006B4C 0%, #539783 78%);
	background-image: linear-gradient(to bottom, #006B4C 0%, #539783 78%);
	
}

#card_down{
	background-color:#539783;
	background-image: -o-linear-gradient(top, #006B4C 0%, #539783 78%);
	background-image: -moz-linear-gradient(top, #006B4C 0%, #539783 78%);
	background-image: -webkit-linear-gradient(top, #006B4C 0%, #539783 78%);
	background-image: -ms-linear-gradient(top, #006B4C 0%, #539783 78%);
	background-image: linear-gradient(to top, #006B4C 0%, #539783 78%);
}
.jspDrag
{
	background-color:#539783;
}

.contatto{
	background-color:#006B4C;
}

.content_overlay_container{
	background-color:rgba(0,107,76,0.25);
}
.content_overlay_container_filebox{
	background-color:rgba(0,107,76,0.25);
}
.content_overlay_container_filebox_file{
	background-color:rgba(0,107,76,0.25);
}
.file_box_private_files_content{
	background-color:rgba(0,107,76,0.25);
}
.file_box_folder_file{
	background-color:rgba(0,107,76,0.25);
}
.overlay_title_container{
	background-color:rgba(0,107,76,0.8);
}

.curriculum_content{
	background-color:#006B4C;
}

.textarea_assistenza{
	background-color:#006B4C;
}
.file_container{
	background-color:#006B4C;
}
.container{
	background-color:#006B4C;
}


#slide_download{
	background-color:rgba(0,107,76,0.8);
}
#foto_download{
	background-color:rgba(0,107,76,0.8);
}

#preview{
	background:#7B5858;	
}

.uploaderprogresspanel{
	/*background-color:#7B5858;*/
	background-color:transparent;
}
.overlay_button{
	background-color:#006B4C; 
}
.input_text_normal{
	background-color:#006B4C; 
}
.tooltip{
	background:transparent url(../../image/card_green/add_friend.png);
}